{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-25",
    "endpointPrefix":"panorama",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"OmniCloudServiceLambda",
    "serviceFullName":"A beautiful and amazing OmniCloudServiceLambda",
    "serviceId":"OmniCloudServiceLambda",
    "signatureVersion":"v4",
    "signingName":"panorama",
    "uid":"panorama-2017-07-25"
  },
  "operations":{
    "CreateApp":{
      "name":"CreateApp",
      "http":{
        "method":"POST",
        "requestUri":"/apps"
      },
      "input":{"shape":"CreateAppRequest"},
      "output":{"shape":"CreateAppResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "CreateAppDeployment":{
      "name":"CreateAppDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/appdeployments"
      },
      "input":{"shape":"CreateAppDeploymentRequest"},
      "output":{"shape":"CreateAppDeploymentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "CreateAppVersion":{
      "name":"CreateAppVersion",
      "http":{
        "method":"POST",
        "requestUri":"/apps/{Name}/versions"
      },
      "input":{"shape":"CreateAppVersionRequest"},
      "output":{"shape":"CreateAppVersionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "CreateApplicationInstance":{
      "name":"CreateApplicationInstance",
      "http":{
        "method":"POST",
        "requestUri":"/application-instances"
      },
      "input":{"shape":"CreateApplicationInstanceRequest"},
      "output":{"shape":"CreateApplicationInstanceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/devices/{DeviceId}/datasources"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "CreateDeploymentConfiguration":{
      "name":"CreateDeploymentConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/deploymentconfigurations"
      },
      "input":{"shape":"CreateDeploymentConfigurationRequest"},
      "output":{"shape":"CreateDeploymentConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "CreateInputs":{
      "name":"CreateInputs",
      "http":{
        "method":"POST",
        "requestUri":"/devices/{DeviceId}/inputs"
      },
      "input":{"shape":"CreateInputsRequest"},
      "output":{"shape":"CreateInputsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "CreateJobForDevices":{
      "name":"CreateJobForDevices",
      "http":{
        "method":"POST",
        "requestUri":"/jobs"
      },
      "input":{"shape":"CreateJobForDevicesRequest"},
      "output":{"shape":"CreateJobForDevicesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/models"
      },
      "input":{"shape":"CreateModelRequest"},
      "output":{"shape":"CreateModelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "CreateNodeFromTemplateJob":{
      "name":"CreateNodeFromTemplateJob",
      "http":{
        "method":"POST",
        "requestUri":"/packages/template-job"
      },
      "input":{"shape":"CreateNodeFromTemplateJobRequest"},
      "output":{"shape":"CreateNodeFromTemplateJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ]
    },
    "CreatePackage":{
      "name":"CreatePackage",
      "http":{
        "method":"POST",
        "requestUri":"/packages"
      },
      "input":{"shape":"CreatePackageRequest"},
      "output":{"shape":"CreatePackageResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ]
    },
    "CreatePackageImportJob":{
      "name":"CreatePackageImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/packages/import-jobs"
      },
      "input":{"shape":"CreatePackageImportJobRequest"},
      "output":{"shape":"CreatePackageImportJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ]
    },
    "CreateStreams":{
      "name":"CreateStreams",
      "http":{
        "method":"POST",
        "requestUri":"/devices/{DeviceId}/streams"
      },
      "input":{"shape":"CreateStreamsRequest"},
      "output":{"shape":"CreateStreamsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DeleteApp":{
      "name":"DeleteApp",
      "http":{
        "method":"DELETE",
        "requestUri":"/apps/{Name}"
      },
      "input":{"shape":"DeleteAppRequest"},
      "output":{"shape":"DeleteAppResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DeleteAppVersion":{
      "name":"DeleteAppVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/apps/{Name}/versions/{VersionNumber}"
      },
      "input":{"shape":"DeleteAppVersionRequest"},
      "output":{"shape":"DeleteAppVersionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DeleteBillingState":{
      "name":"DeleteBillingState",
      "http":{
        "method":"DELETE",
        "requestUri":"/billing-state/{DeviceId}"
      },
      "input":{"shape":"DeleteBillingStateRequest"},
      "output":{"shape":"DeleteBillingStateResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/devices/{DeviceId}/datasources/{DataSourceName}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DeleteDevice":{
      "name":"DeleteDevice",
      "http":{
        "method":"DELETE",
        "requestUri":"/devices/{DeviceId}"
      },
      "input":{"shape":"DeleteDeviceRequest"},
      "output":{"shape":"DeleteDeviceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/models/{Name}"
      },
      "input":{"shape":"DeleteModelRequest"},
      "output":{"shape":"DeleteModelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "DeletePackage":{
      "name":"DeletePackage",
      "http":{
        "method":"DELETE",
        "requestUri":"/packages/{PackageId}"
      },
      "input":{"shape":"DeletePackageRequest"},
      "output":{"shape":"DeletePackageResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeregisterPackageVersion":{
      "name":"DeregisterPackageVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/packages/{PackageId}/versions/{PackageVersion}/patch/{PatchVersion}"
      },
      "input":{"shape":"DeregisterPackageVersionRequest"},
      "output":{"shape":"DeregisterPackageVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeApp":{
      "name":"DescribeApp",
      "http":{
        "method":"GET",
        "requestUri":"/apps/{Name}"
      },
      "input":{"shape":"DescribeAppRequest"},
      "output":{"shape":"DescribeAppResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DescribeAppDeployment":{
      "name":"DescribeAppDeployment",
      "http":{
        "method":"GET",
        "requestUri":"/appdeployments/{Id}"
      },
      "input":{"shape":"DescribeAppDeploymentRequest"},
      "output":{"shape":"DescribeAppDeploymentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "DescribeAppVersion":{
      "name":"DescribeAppVersion",
      "http":{
        "method":"GET",
        "requestUri":"/apps/{Name}/versions/{VersionNumber}"
      },
      "input":{"shape":"DescribeAppVersionRequest"},
      "output":{"shape":"DescribeAppVersionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DescribeApplicationInstance":{
      "name":"DescribeApplicationInstance",
      "http":{
        "method":"GET",
        "requestUri":"/application-instances/{applicationInstanceId}"
      },
      "input":{"shape":"DescribeApplicationInstanceRequest"},
      "output":{"shape":"DescribeApplicationInstanceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeApplicationInstanceDetails":{
      "name":"DescribeApplicationInstanceDetails",
      "http":{
        "method":"GET",
        "requestUri":"/application-instances/{applicationInstanceId}/details"
      },
      "input":{"shape":"DescribeApplicationInstanceDetailsRequest"},
      "output":{"shape":"DescribeApplicationInstanceDetailsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeDataSource":{
      "name":"DescribeDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/devices/{DeviceId}/datasources/{DataSourceName}"
      },
      "input":{"shape":"DescribeDataSourceRequest"},
      "output":{"shape":"DescribeDataSourceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DescribeDevice":{
      "name":"DescribeDevice",
      "http":{
        "method":"GET",
        "requestUri":"/devices/{DeviceId}"
      },
      "input":{"shape":"DescribeDeviceRequest"},
      "output":{"shape":"DescribeDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeDeviceJob":{
      "name":"DescribeDeviceJob",
      "http":{
        "method":"GET",
        "requestUri":"/jobs/{JobId}"
      },
      "input":{"shape":"DescribeDeviceJobRequest"},
      "output":{"shape":"DescribeDeviceJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeModel":{
      "name":"DescribeModel",
      "http":{
        "method":"GET",
        "requestUri":"/models/{Name}"
      },
      "input":{"shape":"DescribeModelRequest"},
      "output":{"shape":"DescribeModelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "DescribeNode":{
      "name":"DescribeNode",
      "http":{
        "method":"GET",
        "requestUri":"/nodes/{NodeId}"
      },
      "input":{"shape":"DescribeNodeRequest"},
      "output":{"shape":"DescribeNodeResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeNodeFromTemplateJob":{
      "name":"DescribeNodeFromTemplateJob",
      "http":{
        "method":"GET",
        "requestUri":"/packages/template-job/{JobId}"
      },
      "input":{"shape":"DescribeNodeFromTemplateJobRequest"},
      "output":{"shape":"DescribeNodeFromTemplateJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ]
    },
    "DescribePackage":{
      "name":"DescribePackage",
      "http":{
        "method":"GET",
        "requestUri":"/packages/metadata/{PackageId}"
      },
      "input":{"shape":"DescribePackageRequest"},
      "output":{"shape":"DescribePackageResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribePackageImportJob":{
      "name":"DescribePackageImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/packages/import-jobs/{JobId}"
      },
      "input":{"shape":"DescribePackageImportJobRequest"},
      "output":{"shape":"DescribePackageImportJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ]
    },
    "DescribePackageVersion":{
      "name":"DescribePackageVersion",
      "http":{
        "method":"GET",
        "requestUri":"/packages/metadata/{PackageId}/versions/{PackageVersion}"
      },
      "input":{"shape":"DescribePackageVersionRequest"},
      "output":{"shape":"DescribePackageVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeSoftware":{
      "name":"DescribeSoftware",
      "http":{
        "method":"GET",
        "requestUri":"/software/{DeviceId}/{VersionNumber}"
      },
      "input":{"shape":"DescribeSoftwareRequest"},
      "output":{"shape":"DescribeSoftwareResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetDeploymentConfiguration":{
      "name":"GetDeploymentConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/deploymentconfigurations/{Id}"
      },
      "input":{"shape":"GetDeploymentConfigurationRequest"},
      "output":{"shape":"GetDeploymentConfigurationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetInputs":{
      "name":"GetInputs",
      "http":{
        "method":"GET",
        "requestUri":"/devices/{DeviceId}/inputs"
      },
      "input":{"shape":"GetInputsRequest"},
      "output":{"shape":"GetInputsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetStreams":{
      "name":"GetStreams",
      "http":{
        "method":"GET",
        "requestUri":"/devices/{DeviceId}/streams"
      },
      "input":{"shape":"GetStreamsRequest"},
      "output":{"shape":"GetStreamsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListAppDeploymentOperations":{
      "name":"ListAppDeploymentOperations",
      "http":{
        "method":"GET",
        "requestUri":"/appdeploymentoperations"
      },
      "input":{"shape":"ListAppDeploymentOperationsRequest"},
      "output":{"shape":"ListAppDeploymentOperationsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "ListAppVersions":{
      "name":"ListAppVersions",
      "http":{
        "method":"GET",
        "requestUri":"/apps/{Name}/versions"
      },
      "input":{"shape":"ListAppVersionsRequest"},
      "output":{"shape":"ListAppVersionsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListApplicationInstanceDependencies":{
      "name":"ListApplicationInstanceDependencies",
      "http":{
        "method":"GET",
        "requestUri":"/application-instances/{applicationInstanceId}/package-dependencies"
      },
      "input":{"shape":"ListApplicationInstanceDependenciesRequest"},
      "output":{"shape":"ListApplicationInstanceDependenciesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListApplicationInstanceNodeInstances":{
      "name":"ListApplicationInstanceNodeInstances",
      "http":{
        "method":"GET",
        "requestUri":"/application-instances/{applicationInstanceId}/node-instances"
      },
      "input":{"shape":"ListApplicationInstanceNodeInstancesRequest"},
      "output":{"shape":"ListApplicationInstanceNodeInstancesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListApplicationInstances":{
      "name":"ListApplicationInstances",
      "http":{
        "method":"GET",
        "requestUri":"/application-instances"
      },
      "input":{"shape":"ListApplicationInstancesRequest"},
      "output":{"shape":"ListApplicationInstancesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListApps":{
      "name":"ListApps",
      "http":{
        "method":"GET",
        "requestUri":"/apps"
      },
      "input":{"shape":"ListAppsRequest"},
      "output":{"shape":"ListAppsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/devices/{DeviceId}/datasources"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListDeploymentConfigurations":{
      "name":"ListDeploymentConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/deploymentconfigurations"
      },
      "input":{"shape":"ListDeploymentConfigurationsRequest"},
      "output":{"shape":"ListDeploymentConfigurationsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListDevices":{
      "name":"ListDevices",
      "http":{
        "method":"GET",
        "requestUri":"/devices"
      },
      "input":{"shape":"ListDevicesRequest"},
      "output":{"shape":"ListDevicesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListDevicesJobs":{
      "name":"ListDevicesJobs",
      "http":{
        "method":"GET",
        "requestUri":"/jobs"
      },
      "input":{"shape":"ListDevicesJobsRequest"},
      "output":{"shape":"ListDevicesJobsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListModels":{
      "name":"ListModels",
      "http":{
        "method":"GET",
        "requestUri":"/models"
      },
      "input":{"shape":"ListModelsRequest"},
      "output":{"shape":"ListModelsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "internalonly":true
    },
    "ListNodeFromTemplateJobs":{
      "name":"ListNodeFromTemplateJobs",
      "http":{
        "method":"GET",
        "requestUri":"/packages/template-job"
      },
      "input":{"shape":"ListNodeFromTemplateJobsRequest"},
      "output":{"shape":"ListNodeFromTemplateJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ]
    },
    "ListNodes":{
      "name":"ListNodes",
      "http":{
        "method":"GET",
        "requestUri":"/nodes"
      },
      "input":{"shape":"ListNodesRequest"},
      "output":{"shape":"ListNodesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListPackageImportJobs":{
      "name":"ListPackageImportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/packages/import-jobs"
      },
      "input":{"shape":"ListPackageImportJobsRequest"},
      "output":{"shape":"ListPackageImportJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ]
    },
    "ListPackages":{
      "name":"ListPackages",
      "http":{
        "method":"GET",
        "requestUri":"/packages"
      },
      "input":{"shape":"ListPackagesRequest"},
      "output":{"shape":"ListPackagesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "LockServiceLinkedRole":{
      "name":"LockServiceLinkedRole",
      "http":{
        "method":"POST",
        "requestUri":"/slr-deletion/lock"
      },
      "input":{"shape":"LockServiceLinkedRoleRequest"},
      "output":{"shape":"LockServiceLinkedRoleResponse"},
      "errors":[
        {"shape":"ServiceLinkedRoleLockServiceException"},
        {"shape":"ServiceLinkedRoleLockClientException"}
      ],
      "internalonly":true
    },
    "ProvisionDevice":{
      "name":"ProvisionDevice",
      "http":{
        "method":"POST",
        "requestUri":"/devices"
      },
      "input":{"shape":"ProvisionDeviceRequest"},
      "output":{"shape":"ProvisionDeviceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "RegisterPackageVersion":{
      "name":"RegisterPackageVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/packages/{PackageId}/versions/{PackageVersion}/patch/{PatchVersion}"
      },
      "input":{"shape":"RegisterPackageVersionRequest"},
      "output":{"shape":"RegisterPackageVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ]
    },
    "RemoveApplicationInstance":{
      "name":"RemoveApplicationInstance",
      "http":{
        "method":"DELETE",
        "requestUri":"/application-instances/{applicationInstanceId}"
      },
      "input":{"shape":"RemoveApplicationInstanceRequest"},
      "output":{"shape":"RemoveApplicationInstanceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UnlockServiceLinkedRole":{
      "name":"UnlockServiceLinkedRole",
      "http":{
        "method":"POST",
        "requestUri":"/slr-deletion/unlock"
      },
      "input":{"shape":"UnlockServiceLinkedRoleRequest"},
      "output":{"shape":"UnlockServiceLinkedRoleResponse"},
      "errors":[
        {"shape":"ServiceLinkedRoleLockServiceException"},
        {"shape":"ServiceLinkedRoleLockClientException"}
      ],
      "internalonly":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateAccessToNodePackage":{
      "name":"UpdateAccessToNodePackage",
      "http":{
        "method":"PUT",
        "requestUri":"/packages/{PackageId}"
      },
      "input":{"shape":"UpdateAccessToNodePackageRequest"},
      "output":{"shape":"UpdateAccessToNodePackageResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateApp":{
      "name":"UpdateApp",
      "http":{
        "method":"PUT",
        "requestUri":"/apps/{Name}"
      },
      "input":{"shape":"UpdateAppRequest"},
      "output":{"shape":"UpdateAppResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "UpdateAppConfiguration":{
      "name":"UpdateAppConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/apps/{Name}/configuration"
      },
      "input":{"shape":"UpdateAppConfigurationRequest"},
      "output":{"shape":"UpdateAppConfigurationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/devices/{DeviceId}/datasources/{DataSourceName}"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "UpdateDeviceMetadata":{
      "name":"UpdateDeviceMetadata",
      "http":{
        "method":"PUT",
        "requestUri":"/devices/{DeviceId}"
      },
      "input":{"shape":"UpdateDeviceMetadataRequest"},
      "output":{"shape":"UpdateDeviceMetadataResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccessType":{
      "type":"string",
      "enum":[
        "READ",
        "WRITE",
        "READ_WRITE"
      ]
    },
    "ActivelyDeployed":{"type":"boolean"},
    "App":{
      "type":"structure",
      "required":[
        "Arn",
        "Name",
        "Status",
        "CreatedTime",
        "LastUpdatedTime",
        "Tags"
      ],
      "members":{
        "Arn":{"shape":"AppArn"},
        "Name":{"shape":"AppName"},
        "Description":{"shape":"Description"},
        "Status":{"shape":"AppStatus"},
        "StatusMessage":{"shape":"StatusMessage"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "AppArn":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AppArtifact":{
      "type":"structure",
      "required":[
        "Type",
        "Arn"
      ],
      "members":{
        "Type":{"shape":"ArtifactType"},
        "Description":{"shape":"Description"},
        "Arn":{"shape":"ModelArn"},
        "Exists":{"shape":"Exists"}
      }
    },
    "AppDataSink":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{"shape":"DataSinkArn"},
        "Inputs":{"shape":"Inputs"}
      }
    },
    "AppDataSource":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{"shape":"DataSourceArn"}
      }
    },
    "AppLambda":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{"shape":"LambdaArn"},
        "Parameters":{"shape":"ParameterList"},
        "Inputs":{"shape":"Inputs"},
        "Artifacts":{"shape":"ArtifactArns"},
        "Exists":{"shape":"Exists"}
      }
    },
    "AppList":{
      "type":"list",
      "member":{"shape":"App"}
    },
    "AppName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "AppRunningStatus":{
      "type":"string",
      "enum":[
        "RUNNING",
        "STOPPED"
      ]
    },
    "AppStatus":{
      "type":"string",
      "enum":[
        "COMPLETED",
        "FAILED",
        "DELETING",
        "DELETED"
      ]
    },
    "AppVersion":{
      "type":"structure",
      "required":[
        "Arn",
        "Name",
        "VersionNumber",
        "Status",
        "CreatedTime"
      ],
      "members":{
        "Arn":{"shape":"AppVersionArn"},
        "Name":{"shape":"AppName"},
        "VersionNumber":{"shape":"VersionNumber"},
        "Description":{"shape":"Description"},
        "Status":{"shape":"AppStatus"},
        "CreatedTime":{"shape":"TimeStamp"}
      }
    },
    "AppVersionArn":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AppVersionList":{
      "type":"list",
      "member":{"shape":"AppVersion"}
    },
    "ApplicationInstance":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ApplicationInstanceName"},
        "ApplicationInstanceId":{"shape":"ApplicationInstanceId"},
        "DefaultRuntimeContextDevice":{"shape":"DefaultRuntimeContextDevice"},
        "DefaultRuntimeContextDeviceName":{"shape":"DeviceName"},
        "Description":{"shape":"Description"},
        "Status":{"shape":"ApplicationInstanceStatus"},
        "HealthStatus":{"shape":"ApplicationInstanceHealthStatus"},
        "StatusDescription":{"shape":"ApplicationInstanceStatusDescription"},
        "CreatedTime":{"shape":"TimeStamp"},
        "Arn":{"shape":"ApplicationInstanceArn"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "ApplicationInstanceArn":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ApplicationInstanceHealthStatus":{
      "type":"string",
      "enum":[
        "RUNNING",
        "ERROR",
        "NOT_AVAILABLE"
      ]
    },
    "ApplicationInstanceId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "ApplicationInstanceName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "ApplicationInstanceStatus":{
      "type":"string",
      "enum":[
        "DEPLOYMENT_PENDING",
        "DEPLOYMENT_REQUESTED",
        "DEPLOYMENT_IN_PROGRESS",
        "DEPLOYMENT_FAILED",
        "DEPLOYMENT_SUCCEEDED",
        "REMOVAL_PENDING",
        "REMOVAL_REQUESTED",
        "REMOVAL_IN_PROGRESS",
        "REMOVAL_FAILED",
        "REMOVAL_SUCCEEDED"
      ]
    },
    "ApplicationInstanceStatusDescription":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ApplicationInstances":{
      "type":"list",
      "member":{"shape":"ApplicationInstance"}
    },
    "ArtifactArns":{
      "type":"list",
      "member":{"shape":"ModelArn"}
    },
    "ArtifactType":{
      "type":"string",
      "enum":["MODEL"]
    },
    "Artifacts":{
      "type":"list",
      "member":{"shape":"AppArtifact"}
    },
    "BetaLatestSoftware":{
      "type":"string",
      "max":255,
      "min":1
    },
    "BillingMaxResourceUsage":{"type":"string"},
    "BillingRecordExpirationTime":{"type":"timestamp"},
    "Boolean":{"type":"boolean"},
    "Brand":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$"
    },
    "Bucket":{"type":"string"},
    "BucketName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$"
    },
    "CameraIpObj":{
      "type":"structure",
      "required":["IpAddress"],
      "members":{
        "IpAddress":{"shape":"IpAddress"},
        "Username":{"shape":"Username"},
        "Password":{"shape":"Password"}
      }
    },
    "CameraIpObjList":{
      "type":"list",
      "member":{"shape":"CameraIpObj"}
    },
    "CameraModel":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$"
    },
    "Certificates":{"type":"blob"},
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{"shape":"String"},
        "ResourceType":{"shape":"String"},
        "ErrorId":{"shape":"String"},
        "ErrorArguments":{"shape":"ConflictExceptionErrorArgumentList"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ConflictExceptionErrorArgument":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{"shape":"String"},
        "Value":{"shape":"String"}
      }
    },
    "ConflictExceptionErrorArgumentList":{
      "type":"list",
      "member":{"shape":"ConflictExceptionErrorArgument"}
    },
    "ConnectionType":{
      "type":"string",
      "enum":[
        "STATIC_IP",
        "DHCP"
      ]
    },
    "CreateAppDeploymentRequest":{
      "type":"structure",
      "required":[
        "DeviceName",
        "DeviceId",
        "Operations"
      ],
      "members":{
        "DeviceName":{"shape":"DeviceName"},
        "DeviceId":{"shape":"DeviceId"},
        "Description":{"shape":"Description"},
        "Operations":{"shape":"DeploymentOperationsList"}
      }
    },
    "CreateAppDeploymentResponse":{
      "type":"structure",
      "required":[
        "Id",
        "DeviceName",
        "DeviceId",
        "Operations"
      ],
      "members":{
        "Id":{"shape":"DeploymentId"},
        "DeviceName":{"shape":"DeviceName"},
        "DeviceId":{"shape":"DeviceId"},
        "Operations":{"shape":"DeploymentOperationsResponseList"},
        "Description":{"shape":"Description"},
        "Status":{"shape":"DeploymentStatus"},
        "StatusDescription":{"shape":"DeploymentStatusDescription"},
        "CreatedTime":{"shape":"TimeStamp"}
      }
    },
    "CreateAppRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"AppName"},
        "Description":{"shape":"Description"},
        "LambdaFunctions":{"shape":"Lambdas"},
        "Artifacts":{"shape":"Artifacts"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "CreateAppResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "Name",
        "LambdaFunctions",
        "Artifacts",
        "Status",
        "CreatedTime",
        "LastUpdatedTime",
        "MD5"
      ],
      "members":{
        "Arn":{"shape":"AppArn"},
        "Name":{"shape":"AppName"},
        "Description":{"shape":"Description"},
        "LambdaFunctions":{"shape":"Lambdas"},
        "Artifacts":{"shape":"Artifacts"},
        "Status":{"shape":"AppStatus"},
        "StatusMessage":{"shape":"StatusMessage"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"},
        "MD5":{"shape":"MD5"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "CreateAppVersionRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"AppName",
          "location":"uri",
          "locationName":"Name"
        },
        "Description":{"shape":"Description"}
      }
    },
    "CreateAppVersionResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "Name",
        "LambdaFunctions",
        "Artifacts",
        "VersionNumber",
        "Status",
        "CreatedTime",
        "MD5"
      ],
      "members":{
        "Arn":{"shape":"AppVersionArn"},
        "Name":{"shape":"AppName"},
        "Description":{"shape":"Description"},
        "LambdaFunctions":{"shape":"Lambdas"},
        "Artifacts":{"shape":"Artifacts"},
        "VersionNumber":{"shape":"VersionNumber"},
        "Status":{"shape":"AppStatus"},
        "CreatedTime":{"shape":"TimeStamp"},
        "MD5":{"shape":"MD5"}
      }
    },
    "CreateApplicationInstanceRequest":{
      "type":"structure",
      "required":[
        "ManifestPayload",
        "DefaultRuntimeContextDevice"
      ],
      "members":{
        "Name":{"shape":"ApplicationInstanceName"},
        "Description":{"shape":"Description"},
        "ManifestPayload":{"shape":"ManifestPayload"},
        "ManifestOverridesPayload":{"shape":"ManifestOverridesPayload"},
        "ApplicationInstanceIdToReplace":{"shape":"ApplicationInstanceId"},
        "RuntimeRoleArn":{"shape":"RuntimeRoleArn"},
        "DefaultRuntimeContextDevice":{"shape":"DefaultRuntimeContextDevice"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "CreateApplicationInstanceResponse":{
      "type":"structure",
      "required":["ApplicationInstanceId"],
      "members":{
        "ApplicationInstanceId":{"shape":"ApplicationInstanceId"}
      }
    },
    "CreateDataSourceRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Configuration",
        "DeviceId"
      ],
      "members":{
        "Name":{"shape":"DataSourceName"},
        "Configuration":{"shape":"DataSourceConfiguration"},
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        },
        "Description":{"shape":"DataSourceDescription"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "CreateDataSourceResponse":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{"shape":"DataSourceArn"}
      }
    },
    "CreateDeploymentConfigurationRequest":{
      "type":"structure",
      "required":[
        "AppName",
        "AppVersion",
        "DeviceId",
        "DataSources",
        "LambdaConfigurations"
      ],
      "members":{
        "AppName":{"shape":"AppName"},
        "AppVersion":{"shape":"VersionNumber"},
        "DeviceId":{"shape":"DeviceId"},
        "Description":{"shape":"Description"},
        "DataSources":{"shape":"DataSources"},
        "DataSinks":{"shape":"DataSinks"},
        "LambdaConfigurations":{"shape":"LambdaConfigurations"}
      }
    },
    "CreateDeploymentConfigurationResponse":{
      "type":"structure",
      "required":[
        "Id",
        "DeviceId",
        "AppName",
        "AppVersion",
        "DataSources",
        "DataSinks",
        "LambdaFunctions",
        "Artifacts"
      ],
      "members":{
        "Id":{"shape":"DeploymentConfigurationId"},
        "DeviceId":{"shape":"DeviceId"},
        "AppName":{"shape":"AppName"},
        "AppVersion":{"shape":"VersionNumber"},
        "Description":{"shape":"Description"},
        "DataSources":{"shape":"DataSources"},
        "DataSinks":{"shape":"DataSinks"},
        "LambdaFunctions":{"shape":"Lambdas"},
        "Artifacts":{"shape":"Artifacts"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"},
        "DeployedTime":{"shape":"TimeStamp"},
        "RemovedTime":{"shape":"TimeStamp"},
        "ActivelyDeployed":{"shape":"ActivelyDeployed"}
      }
    },
    "CreateInputsRequest":{
      "type":"structure",
      "required":["DeviceId"],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        }
      }
    },
    "CreateInputsResponse":{
      "type":"structure",
      "members":{
        "JobRequestStatus":{"shape":"JobRequestStatus"}
      }
    },
    "CreateJobForDevicesRequest":{
      "type":"structure",
      "required":[
        "DeviceIds",
        "DeviceJobConfig",
        "JobType"
      ],
      "members":{
        "DeviceIds":{"shape":"DeviceIdList"},
        "DeviceJobConfig":{"shape":"DeviceJobConfig"},
        "JobType":{"shape":"JobType"}
      }
    },
    "CreateJobForDevicesResponse":{
      "type":"structure",
      "required":["Jobs"],
      "members":{
        "Jobs":{"shape":"JobList"}
      }
    },
    "CreateModelRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Framework",
        "ModelSourceType",
        "ModelMetaData"
      ],
      "members":{
        "Name":{"shape":"ModelName"},
        "Description":{"shape":"Description"},
        "InferenceMode":{"shape":"ModelInferenceMode"},
        "Framework":{"shape":"ModelFramework"},
        "ModelSourceType":{"shape":"ModelSourceType"},
        "S3Location":{"shape":"S3Uri"},
        "SagemakerJobId":{"shape":"SagemakerJobId"},
        "ModelMetaData":{"shape":"ModelMetaData"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "CreateModelResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"ModelArn"}
      }
    },
    "CreateNodeFromTemplateJobRequest":{
      "type":"structure",
      "required":[
        "TemplateType",
        "OutputPackageName",
        "OutputPackageVersion",
        "NodeName",
        "TemplateParameters"
      ],
      "members":{
        "TemplateType":{"shape":"TemplateType"},
        "OutputPackageName":{"shape":"NodePackageName"},
        "OutputPackageVersion":{"shape":"NodePackageVersion"},
        "NodeName":{"shape":"NodeName"},
        "NodeDescription":{"shape":"Description"},
        "TemplateParameters":{"shape":"TemplateParametersMap"},
        "JobTags":{"shape":"JobTagsList"}
      }
    },
    "CreateNodeFromTemplateJobResponse":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "CreatePackageImportJobRequest":{
      "type":"structure",
      "required":[
        "JobType",
        "InputConfig",
        "OutputConfig",
        "ClientToken"
      ],
      "members":{
        "JobType":{"shape":"PackageImportJobType"},
        "InputConfig":{"shape":"PackageImportJobInputConfig"},
        "OutputConfig":{"shape":"PackageImportJobOutputConfig"},
        "ClientToken":{"shape":"ClientToken"},
        "JobTags":{"shape":"JobTagsList"}
      }
    },
    "CreatePackageImportJobResponse":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "CreatePackageRequest":{
      "type":"structure",
      "required":["PackageName"],
      "members":{
        "PackageName":{"shape":"NodePackageName"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "CreatePackageResponse":{
      "type":"structure",
      "required":["StorageLocation"],
      "members":{
        "PackageId":{"shape":"NodePackageId"},
        "Arn":{"shape":"NodePackageArn"},
        "StorageLocation":{"shape":"StorageLocation"}
      }
    },
    "CreateStreamsRequest":{
      "type":"structure",
      "required":[
        "DeviceId",
        "CameraIpList"
      ],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        },
        "CameraIpList":{"shape":"CameraIpObjList"}
      }
    },
    "CreateStreamsResponse":{
      "type":"structure",
      "members":{
        "JobRequestStatus":{"shape":"JobRequestStatus"}
      }
    },
    "CreatedTime":{"type":"timestamp"},
    "CurrentSoftware":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DataSinkArn":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$"
    },
    "DataSinks":{
      "type":"list",
      "member":{"shape":"AppDataSink"}
    },
    "DataSource":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Arn":{"shape":"DataSourceArn"},
        "Name":{"shape":"DataSourceName"},
        "Description":{"shape":"DataSourceDescription"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"},
        "Configuration":{"shape":"DataSourceConfiguration"},
        "Status":{"shape":"DataSourceStatus"},
        "ConnectionState":{"shape":"DataSourceConnectionState"},
        "LastActiveTime":{"shape":"LastActiveTime"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "DataSourceArn":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^arn:aws:panorama:[a-z0-9-]+:[0-9]{12}:datasource/.+$"
    },
    "DataSourceConfiguration":{
      "type":"structure",
      "required":[
        "IpAddress",
        "StreamURL"
      ],
      "members":{
        "IpAddress":{"shape":"IpAddress"},
        "StreamURL":{"shape":"StreamURL"},
        "Username":{"shape":"Username"},
        "Password":{"shape":"Password"},
        "SourceType":{"shape":"SourceType"},
        "SerialNumber":{"shape":"SerialNumber"},
        "CameraModel":{"shape":"CameraModel"},
        "Brand":{"shape":"Brand"}
      }
    },
    "DataSourceConnectionState":{
      "type":"string",
      "enum":[
        "CONNECTED",
        "NOT_CONNECTED",
        "AWAITING_CREDENTIALS",
        "INVALID_CREDENTIALS",
        "ERROR_STATE",
        "UNKNOWN"
      ]
    },
    "DataSourceDescription":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"^.*$"
    },
    "DataSourceList":{
      "type":"list",
      "member":{"shape":"DataSource"}
    },
    "DataSourceName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "DataSourceStatus":{"type":"string"},
    "DataSources":{
      "type":"list",
      "member":{"shape":"AppDataSource"}
    },
    "DefaultGateway":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$"
    },
    "DefaultRuntimeContextDevice":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "DeleteAppRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"AppName",
          "location":"uri",
          "locationName":"Name"
        }
      }
    },
    "DeleteAppResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAppVersionRequest":{
      "type":"structure",
      "required":[
        "Name",
        "VersionNumber"
      ],
      "members":{
        "Name":{
          "shape":"AppName",
          "location":"uri",
          "locationName":"Name"
        },
        "VersionNumber":{
          "shape":"VersionNumber",
          "location":"uri",
          "locationName":"VersionNumber"
        }
      }
    },
    "DeleteAppVersionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteBillingStateRequest":{
      "type":"structure",
      "required":["DeviceId"],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        }
      }
    },
    "DeleteBillingStateResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDataSourceRequest":{
      "type":"structure",
      "required":[
        "DeviceId",
        "DataSourceName"
      ],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        },
        "DataSourceName":{
          "shape":"DataSourceName",
          "location":"uri",
          "locationName":"DataSourceName"
        }
      }
    },
    "DeleteDataSourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDeviceRequest":{
      "type":"structure",
      "required":["DeviceId"],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        }
      }
    },
    "DeleteDeviceResponse":{
      "type":"structure",
      "members":{
        "DeviceId":{"shape":"DeviceId"}
      }
    },
    "DeleteModelRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"ModelName",
          "location":"uri",
          "locationName":"Name"
        }
      }
    },
    "DeleteModelResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeletePackageRequest":{
      "type":"structure",
      "required":["PackageId"],
      "members":{
        "PackageId":{
          "shape":"NodePackageId",
          "location":"uri",
          "locationName":"PackageId"
        },
        "ForceDelete":{
          "shape":"Boolean",
          "location":"querystring",
          "locationName":"ForceDelete"
        }
      }
    },
    "DeletePackageResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeployOperation":{
      "type":"string",
      "enum":[
        "ADD",
        "REMOVE"
      ]
    },
    "DeploymentConfiguration":{
      "type":"structure",
      "required":[
        "Id",
        "DeviceId",
        "AppName",
        "AppVersion"
      ],
      "members":{
        "Id":{"shape":"DeploymentConfigurationId"},
        "DeviceId":{"shape":"DeviceId"},
        "AppName":{"shape":"AppName"},
        "AppVersion":{"shape":"VersionNumber"},
        "Description":{"shape":"Description"},
        "CreatedTime":{"shape":"TimeStamp"},
        "DeployedTime":{"shape":"TimeStamp"},
        "RemovedTime":{"shape":"TimeStamp"},
        "ActivelyDeployed":{"shape":"ActivelyDeployed"},
        "ConfigExists":{"shape":"Boolean"},
        "Status":{"shape":"AppRunningStatus"}
      }
    },
    "DeploymentConfigurationId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_\\:]+$"
    },
    "DeploymentConfigurationsList":{
      "type":"list",
      "member":{"shape":"DeploymentConfiguration"}
    },
    "DeploymentDetailsId":{
      "type":"string",
      "max":255,
      "min":0
    },
    "DeploymentId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "DeploymentOperation":{
      "type":"structure",
      "required":[
        "DeploymentConfigurationId",
        "Operation"
      ],
      "members":{
        "DeploymentConfigurationId":{"shape":"DeploymentConfigurationId"},
        "Operation":{"shape":"DeployOperation"}
      }
    },
    "DeploymentOperationsDetails":{
      "type":"structure",
      "members":{
        "DeploymentId":{"shape":"DeploymentId"},
        "DeploymentConfigurationId":{"shape":"DeploymentConfigurationId"},
        "DeploymentDetailsId":{"shape":"DeploymentDetailsId"},
        "Description":{"shape":"Description"},
        "AppName":{"shape":"AppName"},
        "AppVersion":{"shape":"VersionNumber"},
        "DeviceName":{"shape":"DeviceName"},
        "DeviceId":{"shape":"DeviceId"},
        "Operation":{"shape":"DeployOperation"},
        "Status":{"shape":"DeploymentStatus"},
        "StatusDescription":{"shape":"DeploymentStatusDescription"},
        "CreatedTime":{"shape":"TimeStamp"}
      }
    },
    "DeploymentOperationsDetailsList":{
      "type":"list",
      "member":{"shape":"DeploymentOperationsDetails"}
    },
    "DeploymentOperationsList":{
      "type":"list",
      "member":{"shape":"DeploymentOperation"},
      "min":1
    },
    "DeploymentOperationsResponseList":{
      "type":"list",
      "member":{"shape":"OperationsResponseObject"}
    },
    "DeploymentStatus":{
      "type":"string",
      "enum":[
        "COMPLETED",
        "FAILED",
        "PENDING",
        "IN_PROGRESS",
        "DELETING",
        "TIMED_OUT"
      ]
    },
    "DeploymentStatusDescription":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DeregisterPackageVersionRequest":{
      "type":"structure",
      "required":[
        "PackageId",
        "PackageVersion",
        "PatchVersion"
      ],
      "members":{
        "OwnerAccount":{
          "shape":"PackageOwnerAccount",
          "location":"querystring",
          "locationName":"OwnerAccount"
        },
        "PackageId":{
          "shape":"NodePackageId",
          "location":"uri",
          "locationName":"PackageId"
        },
        "PackageVersion":{
          "shape":"NodePackageVersion",
          "location":"uri",
          "locationName":"PackageVersion"
        },
        "PatchVersion":{
          "shape":"NodePackagePatchVersion",
          "location":"uri",
          "locationName":"PatchVersion"
        },
        "UpdatedLatestPatchVersion":{
          "shape":"NodePackagePatchVersion",
          "location":"querystring",
          "locationName":"UpdatedLatestPatchVersion"
        }
      }
    },
    "DeregisterPackageVersionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeAppDeploymentRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"DeploymentId",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "DescribeAppDeploymentResponse":{
      "type":"structure",
      "required":[
        "Id",
        "DeviceName",
        "DeviceId",
        "Operations"
      ],
      "members":{
        "Id":{"shape":"DeploymentId"},
        "DeviceName":{"shape":"DeviceName"},
        "DeviceId":{"shape":"DeviceId"},
        "Operations":{"shape":"DeploymentOperationsResponseList"},
        "Description":{"shape":"Description"},
        "Status":{"shape":"DeploymentStatus"},
        "StatusDescription":{"shape":"DeploymentStatusDescription"},
        "CreatedTime":{"shape":"TimeStamp"}
      }
    },
    "DescribeAppRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"AppName",
          "location":"uri",
          "locationName":"Name"
        }
      }
    },
    "DescribeAppResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "Name",
        "LambdaFunctions",
        "Artifacts",
        "Status",
        "CreatedTime",
        "LastUpdatedTime",
        "MD5",
        "Tags"
      ],
      "members":{
        "Arn":{"shape":"AppArn"},
        "Name":{"shape":"AppName"},
        "Description":{"shape":"Description"},
        "LambdaFunctions":{"shape":"Lambdas"},
        "Artifacts":{"shape":"Artifacts"},
        "Status":{"shape":"AppStatus"},
        "StatusMessage":{"shape":"StatusMessage"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"},
        "MD5":{"shape":"MD5"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "DescribeAppVersionRequest":{
      "type":"structure",
      "required":[
        "Name",
        "VersionNumber"
      ],
      "members":{
        "Name":{
          "shape":"AppName",
          "location":"uri",
          "locationName":"Name"
        },
        "VersionNumber":{
          "shape":"VersionNumber",
          "location":"uri",
          "locationName":"VersionNumber"
        }
      }
    },
    "DescribeAppVersionResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "Name",
        "LambdaFunctions",
        "Artifacts",
        "VersionNumber",
        "Status",
        "CreatedTime",
        "MD5"
      ],
      "members":{
        "Arn":{"shape":"AppVersionArn"},
        "Name":{"shape":"AppName"},
        "Description":{"shape":"Description"},
        "LambdaFunctions":{"shape":"Lambdas"},
        "Artifacts":{"shape":"Artifacts"},
        "VersionNumber":{"shape":"VersionNumber"},
        "Status":{"shape":"AppStatus"},
        "CreatedTime":{"shape":"TimeStamp"},
        "MD5":{"shape":"MD5"}
      }
    },
    "DescribeApplicationInstanceDetailsRequest":{
      "type":"structure",
      "required":["ApplicationInstanceId"],
      "members":{
        "ApplicationInstanceId":{
          "shape":"ApplicationInstanceId",
          "location":"uri",
          "locationName":"applicationInstanceId"
        }
      }
    },
    "DescribeApplicationInstanceDetailsResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ApplicationInstanceName"},
        "Description":{"shape":"Description"},
        "DefaultRuntimeContextDevice":{"shape":"DefaultRuntimeContextDevice"},
        "ManifestPayload":{"shape":"ManifestPayload"},
        "ManifestOverridesPayload":{"shape":"ManifestOverridesPayload"},
        "ApplicationInstanceIdToReplace":{"shape":"ApplicationInstanceId"},
        "CreatedTime":{"shape":"TimeStamp"},
        "ApplicationInstanceId":{"shape":"ApplicationInstanceId"}
      }
    },
    "DescribeApplicationInstanceRequest":{
      "type":"structure",
      "required":["ApplicationInstanceId"],
      "members":{
        "ApplicationInstanceId":{
          "shape":"ApplicationInstanceId",
          "location":"uri",
          "locationName":"applicationInstanceId"
        }
      }
    },
    "DescribeApplicationInstanceResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ApplicationInstanceName"},
        "Description":{"shape":"Description"},
        "DefaultRuntimeContextDevice":{"shape":"DefaultRuntimeContextDevice"},
        "DefaultRuntimeContextDeviceName":{"shape":"DeviceName"},
        "ApplicationInstanceIdToReplace":{"shape":"ApplicationInstanceId"},
        "RuntimeRoleArn":{"shape":"RuntimeRoleArn"},
        "Status":{"shape":"ApplicationInstanceStatus"},
        "HealthStatus":{"shape":"ApplicationInstanceHealthStatus"},
        "StatusDescription":{"shape":"ApplicationInstanceStatusDescription"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"},
        "ApplicationInstanceId":{"shape":"ApplicationInstanceId"},
        "Arn":{"shape":"ApplicationInstanceArn"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "DescribeDataSourceRequest":{
      "type":"structure",
      "required":[
        "DeviceId",
        "DataSourceName"
      ],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        },
        "DataSourceName":{
          "shape":"DataSourceName",
          "location":"uri",
          "locationName":"DataSourceName"
        }
      }
    },
    "DescribeDataSourceResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "Name",
        "Configuration",
        "Status"
      ],
      "members":{
        "Arn":{"shape":"DataSourceArn"},
        "Name":{"shape":"DataSourceName"},
        "Description":{"shape":"DataSourceDescription"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"},
        "Configuration":{"shape":"DataSourceConfiguration"},
        "Status":{"shape":"DataSourceStatus"},
        "ConnectionState":{"shape":"DataSourceConnectionState"},
        "LastActiveTime":{"shape":"LastActiveTime"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "DescribeDeviceJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "location":"uri",
          "locationName":"JobId"
        }
      }
    },
    "DescribeDeviceJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "DeviceId":{"shape":"DeviceId"},
        "DeviceArn":{"shape":"DeviceArn"},
        "DeviceName":{"shape":"DeviceName"},
        "DeviceType":{"shape":"DeviceType"},
        "ImageVersion":{"shape":"ImageVersion"},
        "Status":{"shape":"UpdateProgress"},
        "CreatedTime":{"shape":"UpdateCreatedTime"}
      }
    },
    "DescribeDeviceRequest":{
      "type":"structure",
      "required":["DeviceId"],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        }
      }
    },
    "DescribeDeviceResponse":{
      "type":"structure",
      "members":{
        "DeviceId":{"shape":"DeviceId"},
        "Name":{"shape":"DeviceName"},
        "Arn":{"shape":"DeviceArn"},
        "Description":{"shape":"Description"},
        "Type":{"shape":"DeviceType"},
        "DeviceConnectionStatus":{"shape":"DeviceConnectionStatus"},
        "CreatedTime":{"shape":"CreatedTime"},
        "ProvisioningStatus":{"shape":"DeviceStatus"},
        "LatestSoftware":{"shape":"LatestSoftware"},
        "BetaLatestSoftware":{
          "shape":"BetaLatestSoftware",
          "internalonly":true
        },
        "CurrentSoftware":{"shape":"CurrentSoftware"},
        "SerialNumber":{"shape":"DeviceSerialNumber"},
        "Tags":{"shape":"TagMap"},
        "NetworkingConfiguration":{"shape":"NetworkPayload"},
        "CurrentNetworkingStatus":{"shape":"NetworkStatus"},
        "SshEnabled":{
          "shape":"Boolean",
          "internalonly":true
        },
        "LeaseExpirationTime":{"shape":"LeaseExpirationTime"},
        "BillingMaxResourceUsage":{"shape":"BillingMaxResourceUsage"},
        "BillingRecordExpirationTime":{"shape":"BillingRecordExpirationTime"}
      }
    },
    "DescribeModelRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"ModelName",
          "location":"uri",
          "locationName":"Name"
        }
      }
    },
    "DescribeModelResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ModelName"},
        "Arn":{"shape":"ModelArn"},
        "Description":{"shape":"Description"},
        "InferenceMode":{"shape":"ModelInferenceMode"},
        "Framework":{"shape":"ModelFramework"},
        "ModelSourceType":{"shape":"ModelSourceType"},
        "S3Location":{"shape":"S3Uri"},
        "SagemakerJobId":{"shape":"SagemakerJobId"},
        "ModelMetaData":{"shape":"ModelMetaData"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"},
        "Status":{"shape":"ModelStatus"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "DescribeNodeFromTemplateJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "location":"uri",
          "locationName":"JobId"
        }
      }
    },
    "DescribeNodeFromTemplateJobResponse":{
      "type":"structure",
      "required":[
        "JobId",
        "Status",
        "StatusMessage",
        "CreatedTime",
        "LastUpdatedTime",
        "OutputPackageName",
        "OutputPackageVersion",
        "NodeName",
        "TemplateType",
        "TemplateParameters"
      ],
      "members":{
        "JobId":{"shape":"JobId"},
        "Status":{"shape":"NodeFromTemplateJobStatus"},
        "StatusMessage":{"shape":"NodeFromTemplateJobStatusMessage"},
        "CreatedTime":{"shape":"CreatedTime"},
        "LastUpdatedTime":{"shape":"LastUpdatedTime"},
        "OutputPackageName":{"shape":"NodePackageName"},
        "OutputPackageVersion":{"shape":"NodePackageVersion"},
        "NodeName":{"shape":"NodeName"},
        "NodeDescription":{"shape":"Description"},
        "TemplateType":{"shape":"TemplateType"},
        "TemplateParameters":{"shape":"TemplateParametersMap"},
        "JobTags":{"shape":"JobTagsList"}
      }
    },
    "DescribeNodeRequest":{
      "type":"structure",
      "required":["NodeId"],
      "members":{
        "NodeId":{
          "shape":"NodeId",
          "location":"uri",
          "locationName":"NodeId"
        },
        "OwnerAccount":{
          "shape":"PackageOwnerAccount",
          "location":"querystring",
          "locationName":"OwnerAccount"
        }
      }
    },
    "DescribeNodeResponse":{
      "type":"structure",
      "required":[
        "NodeId",
        "Name",
        "Category",
        "OwnerAccount",
        "PackageName",
        "PackageId",
        "PackageVersion",
        "PatchVersion",
        "NodeInterface",
        "Description",
        "CreatedTime",
        "LastUpdatedTime"
      ],
      "members":{
        "NodeId":{"shape":"NodeId"},
        "Name":{"shape":"NodeName"},
        "Category":{"shape":"NodeCategory"},
        "OwnerAccount":{"shape":"PackageOwnerAccount"},
        "PackageName":{"shape":"NodePackageName"},
        "PackageId":{"shape":"NodePackageId"},
        "PackageArn":{"shape":"NodePackageArn"},
        "PackageVersion":{"shape":"NodePackageVersion"},
        "PatchVersion":{"shape":"NodePackagePatchVersion"},
        "NodeInterface":{"shape":"NodeInterface"},
        "AssetName":{"shape":"NodeAssetName"},
        "Description":{"shape":"Description"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"}
      }
    },
    "DescribePackageImportJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "location":"uri",
          "locationName":"JobId"
        }
      }
    },
    "DescribePackageImportJobResponse":{
      "type":"structure",
      "required":[
        "JobId",
        "JobType",
        "InputConfig",
        "OutputConfig",
        "Output",
        "CreatedTime",
        "LastUpdatedTime",
        "Status",
        "StatusMessage"
      ],
      "members":{
        "JobId":{"shape":"JobId"},
        "ClientToken":{"shape":"ClientToken"},
        "JobType":{"shape":"PackageImportJobType"},
        "InputConfig":{"shape":"PackageImportJobInputConfig"},
        "OutputConfig":{"shape":"PackageImportJobOutputConfig"},
        "Output":{"shape":"PackageImportJobOutput"},
        "CreatedTime":{"shape":"CreatedTime"},
        "LastUpdatedTime":{"shape":"LastUpdatedTime"},
        "Status":{"shape":"PackageImportJobStatus"},
        "StatusMessage":{"shape":"PackageImportJobStatusMessage"},
        "JobTags":{"shape":"JobTagsList"}
      }
    },
    "DescribePackageRequest":{
      "type":"structure",
      "required":["PackageId"],
      "members":{
        "PackageId":{
          "shape":"NodePackageId",
          "location":"uri",
          "locationName":"PackageId"
        }
      }
    },
    "DescribePackageResponse":{
      "type":"structure",
      "required":[
        "PackageId",
        "PackageName",
        "Arn",
        "StorageLocation",
        "CreatedTime",
        "Tags"
      ],
      "members":{
        "PackageId":{"shape":"NodePackageId"},
        "PackageName":{"shape":"NodePackageName"},
        "Arn":{"shape":"NodePackageArn"},
        "StorageLocation":{"shape":"StorageLocation"},
        "ReadAccessPrincipalArns":{"shape":"PrincipalArnsList"},
        "WriteAccessPrincipalArns":{"shape":"PrincipalArnsList"},
        "CreatedTime":{"shape":"TimeStamp"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "DescribePackageVersionRequest":{
      "type":"structure",
      "required":[
        "PackageId",
        "PackageVersion"
      ],
      "members":{
        "OwnerAccount":{
          "shape":"PackageOwnerAccount",
          "location":"querystring",
          "locationName":"OwnerAccount"
        },
        "PackageId":{
          "shape":"NodePackageId",
          "location":"uri",
          "locationName":"PackageId"
        },
        "PackageVersion":{
          "shape":"NodePackageVersion",
          "location":"uri",
          "locationName":"PackageVersion"
        },
        "PatchVersion":{
          "shape":"NodePackagePatchVersion",
          "location":"querystring",
          "locationName":"PatchVersion"
        }
      }
    },
    "DescribePackageVersionResponse":{
      "type":"structure",
      "required":[
        "PackageId",
        "PackageName",
        "PackageVersion",
        "PatchVersion",
        "IsLatestPatch",
        "Status"
      ],
      "members":{
        "OwnerAccount":{"shape":"PackageOwnerAccount"},
        "PackageId":{"shape":"NodePackageId"},
        "PackageArn":{"shape":"NodePackageArn"},
        "PackageName":{"shape":"NodePackageQualifiedName"},
        "PackageVersion":{"shape":"NodePackageVersion"},
        "PatchVersion":{"shape":"NodePackagePatchVersion"},
        "IsLatestPatch":{"shape":"Boolean"},
        "Status":{"shape":"PackageVersionStatus"},
        "StatusDescription":{"shape":"PackageVersionStatusDescription"},
        "RegisteredTime":{"shape":"TimeStamp"}
      }
    },
    "DescribeSoftwareRequest":{
      "type":"structure",
      "required":[
        "DeviceId",
        "VersionNumber"
      ],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        },
        "VersionNumber":{
          "shape":"ImageVersion",
          "location":"uri",
          "locationName":"VersionNumber"
        }
      }
    },
    "DescribeSoftwareResponse":{
      "type":"structure",
      "members":{
        "DeviceId":{"shape":"DeviceId"},
        "VersionNumber":{"shape":"ImageVersion"},
        "Description":{"shape":"ImageDescription"},
        "CreatedTime":{"shape":"SoftwareCreatedTime"},
        "Severity":{"shape":"Severity"},
        "Size":{"shape":"SoftwareSize"},
        "IsMandatory":{"shape":"IsMandatory"}
      }
    },
    "Description":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"^.*$"
    },
    "Device":{
      "type":"structure",
      "members":{
        "DeviceId":{"shape":"DeviceId"},
        "Name":{"shape":"DeviceName"},
        "CreatedTime":{"shape":"CreatedTime"},
        "ProvisioningStatus":{"shape":"DeviceStatus"},
        "LastUpdatedTime":{"shape":"LastUpdatedTime"},
        "LeaseExpirationTime":{"shape":"LeaseExpirationTime"}
      }
    },
    "DeviceArn":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DeviceConnectionStatus":{
      "type":"string",
      "enum":[
        "ONLINE",
        "OFFLINE",
        "AWAITING_CREDENTIALS",
        "NOT_AVAILABLE"
      ]
    },
    "DeviceId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "DeviceIdList":{
      "type":"list",
      "member":{"shape":"DeviceId"},
      "max":1,
      "min":1
    },
    "DeviceJob":{
      "type":"structure",
      "members":{
        "DeviceName":{"shape":"DeviceName"},
        "DeviceId":{"shape":"DeviceId"},
        "JobId":{"shape":"JobId"},
        "CreatedTime":{"shape":"CreatedTime"}
      }
    },
    "DeviceJobConfig":{
      "type":"structure",
      "members":{
        "OTAJobConfig":{"shape":"OTAJobConfig"}
      }
    },
    "DeviceJobList":{
      "type":"list",
      "member":{"shape":"DeviceJob"}
    },
    "DeviceList":{
      "type":"list",
      "member":{"shape":"Device"}
    },
    "DeviceName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "DeviceSerialNumber":{
      "type":"string",
      "pattern":"^[0-9]{1,20}$"
    },
    "DeviceStatus":{
      "type":"string",
      "enum":[
        "AWAITING_PROVISIONING",
        "PENDING",
        "SUCCEEDED",
        "FAILED",
        "DELETING"
      ]
    },
    "DeviceType":{
      "type":"string",
      "enum":[
        "PANORAMA_APPLIANCE_DEVELOPER_KIT",
        "PANORAMA_APPLIANCE"
      ]
    },
    "Dns":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$"
    },
    "DnsList":{
      "type":"list",
      "member":{"shape":"Dns"}
    },
    "EthernetPayload":{
      "type":"structure",
      "required":["ConnectionType"],
      "members":{
        "ConnectionType":{"shape":"ConnectionType"},
        "StaticIpConnectionInfo":{"shape":"StaticIpConnectionInfo"}
      }
    },
    "EthernetStatus":{
      "type":"structure",
      "members":{
        "IpAddress":{"shape":"IpAddress"},
        "ConnectionStatus":{"shape":"NetworkConnectionStatus"},
        "HwAddress":{"shape":"HwAddress"}
      }
    },
    "Exists":{"type":"boolean"},
    "FirmwareVersion":{
      "type":"string",
      "max":255,
      "min":1
    },
    "Float":{"type":"float"},
    "FloatList":{
      "type":"list",
      "member":{"shape":"Float"}
    },
    "FourCC":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$"
    },
    "GetDeploymentConfigurationRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"DeploymentConfigurationId",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetDeploymentConfigurationResponse":{
      "type":"structure",
      "required":[
        "Id",
        "DeviceId",
        "AppName",
        "AppVersion",
        "DataSources",
        "DataSinks",
        "LambdaFunctions",
        "Artifacts"
      ],
      "members":{
        "Id":{"shape":"DeploymentConfigurationId"},
        "DeviceId":{"shape":"DeviceId"},
        "AppName":{"shape":"AppName"},
        "AppVersion":{"shape":"VersionNumber"},
        "Description":{"shape":"Description"},
        "DataSources":{"shape":"DataSources"},
        "DataSinks":{"shape":"DataSinks"},
        "LambdaFunctions":{"shape":"Lambdas"},
        "Artifacts":{"shape":"Artifacts"},
        "CreatedTime":{"shape":"TimeStamp"},
        "LastUpdatedTime":{"shape":"TimeStamp"},
        "DeployedTime":{"shape":"TimeStamp"},
        "RemovedTime":{"shape":"TimeStamp"},
        "ActivelyDeployed":{"shape":"ActivelyDeployed"}
      }
    },
    "GetInputsRequest":{
      "type":"structure",
      "required":["DeviceId"],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        }
      }
    },
    "GetInputsResponse":{
      "type":"structure",
      "members":{
        "JobRequestStatus":{"shape":"JobRequestStatus"},
        "InputCameraList":{"shape":"InputCameraList"},
        "DeviceId":{"shape":"DeviceId"},
        "DeviceName":{"shape":"DeviceName"}
      }
    },
    "GetStreamsRequest":{
      "type":"structure",
      "required":["DeviceId"],
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        }
      }
    },
    "GetStreamsResponse":{
      "type":"structure",
      "required":["Streams"],
      "members":{
        "JobRequestStatus":{"shape":"JobRequestStatus"},
        "Streams":{"shape":"Streams"},
        "DeviceId":{"shape":"DeviceId"},
        "DeviceName":{"shape":"DeviceName"}
      }
    },
    "Hardware":{
      "type":"string",
      "max":255,
      "min":1
    },
    "HardwareId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "HwAddress":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ImageDescription":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ImageVersion":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$"
    },
    "Input":{
      "type":"structure",
      "required":["Sources"],
      "members":{
        "Name":{"shape":"InputName"},
        "Sources":{"shape":"SourceArnList"}
      }
    },
    "InputCamera":{
      "type":"structure",
      "members":{
        "HasFullDeviceInfo":{"shape":"PrimitiveBoolean"},
        "NeedAuthentication":{"shape":"PrimitiveBoolean"},
        "Brand":{"shape":"Brand"},
        "Hardware":{"shape":"Hardware"},
        "IpAddressList":{"shape":"IpAddressList"},
        "MacAddress":{"shape":"MacAddress"},
        "Manufacturer":{"shape":"Manufacturer"},
        "CameraModel":{"shape":"CameraModel"},
        "SerialNumber":{"shape":"SerialNumber"},
        "FirmwareVersion":{"shape":"FirmwareVersion"},
        "HardwareId":{"shape":"HardwareId"}
      }
    },
    "InputCameraList":{
      "type":"list",
      "member":{"shape":"InputCamera"}
    },
    "InputName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "InputPortList":{
      "type":"list",
      "member":{"shape":"NodeInputPort"}
    },
    "InputTensorOrder":{
      "type":"string",
      "enum":[
        "NCHW",
        "NHWC"
      ]
    },
    "Inputs":{
      "type":"list",
      "member":{"shape":"Input"}
    },
    "IntList":{
      "type":"list",
      "member":{"shape":"Integer"}
    },
    "Integer":{"type":"integer"},
    "InternalServerException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"},
        "RetryAfterSeconds":{
          "shape":"RetryAfterSeconds",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "IotThingName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "IpAddress":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}(:[0-9]+)?"
    },
    "IpAddressList":{
      "type":"list",
      "member":{"shape":"IpAddress"}
    },
    "IsMandatory":{"type":"boolean"},
    "Job":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "DeviceId":{"shape":"DeviceId"}
      }
    },
    "JobId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\-\\_]+$"
    },
    "JobList":{
      "type":"list",
      "member":{"shape":"Job"}
    },
    "JobRequestStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "FAILED",
        "SUCCEEDED",
        "TIMED_OUT"
      ]
    },
    "JobResourceTags":{
      "type":"structure",
      "required":[
        "ResourceType",
        "Tags"
      ],
      "members":{
        "ResourceType":{"shape":"JobResourceType"},
        "Tags":{"shape":"TagMap"}
      }
    },
    "JobResourceType":{
      "type":"string",
      "enum":["PACKAGE"]
    },
    "JobTagsList":{
      "type":"list",
      "member":{"shape":"JobResourceTags"}
    },
    "JobType":{
      "type":"string",
      "enum":["OTA"]
    },
    "LambdaArn":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^arn:aws:lambda:[a-z0-9-]+:[0-9]{12}:function:.+$"
    },
    "LambdaConfiguration":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{"shape":"LambdaArn"},
        "Parameters":{"shape":"ParameterList"},
        "Inputs":{"shape":"Inputs"},
        "Artifacts":{"shape":"ArtifactArns"}
      }
    },
    "LambdaConfigurations":{
      "type":"list",
      "member":{"shape":"LambdaConfiguration"},
      "max":1
    },
    "Lambdas":{
      "type":"list",
      "member":{"shape":"AppLambda"},
      "max":1
    },
    "LastActiveTime":{"type":"timestamp"},
    "LastUpdatedTime":{"type":"timestamp"},
    "LatestSoftware":{
      "type":"string",
      "max":255,
      "min":1
    },
    "LeaseExpirationTime":{"type":"timestamp"},
    "ListAppDeploymentOperationsRequest":{
      "type":"structure",
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"querystring",
          "locationName":"deviceId"
        },
        "AppName":{
          "shape":"AppName",
          "location":"querystring",
          "locationName":"appName"
        },
        "NextToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListAppDeploymentOperationsResponse":{
      "type":"structure",
      "members":{
        "DeploymentOperations":{"shape":"DeploymentOperationsDetailsList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListAppVersionsRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "NextToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "Name":{
          "shape":"AppName",
          "location":"uri",
          "locationName":"Name"
        }
      }
    },
    "ListAppVersionsResponse":{
      "type":"structure",
      "members":{
        "AppVersions":{"shape":"AppVersionList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListApplicationInstanceDependenciesRequest":{
      "type":"structure",
      "required":["ApplicationInstanceId"],
      "members":{
        "ApplicationInstanceId":{
          "shape":"ApplicationInstanceId",
          "location":"uri",
          "locationName":"applicationInstanceId"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListApplicationInstanceDependenciesResponse":{
      "type":"structure",
      "members":{
        "PackageObjects":{"shape":"PackageObjects"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListApplicationInstanceNodeInstancesRequest":{
      "type":"structure",
      "required":["ApplicationInstanceId"],
      "members":{
        "ApplicationInstanceId":{
          "shape":"ApplicationInstanceId",
          "location":"uri",
          "locationName":"applicationInstanceId"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListApplicationInstanceNodeInstancesResponse":{
      "type":"structure",
      "members":{
        "NodeInstances":{"shape":"NodeInstances"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListApplicationInstancesRequest":{
      "type":"structure",
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"querystring",
          "locationName":"deviceId"
        },
        "StatusFilter":{
          "shape":"StatusFilter",
          "location":"querystring",
          "locationName":"statusFilter"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListApplicationInstancesResponse":{
      "type":"structure",
      "members":{
        "ApplicationInstances":{"shape":"ApplicationInstances"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListAppsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxSize100",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListAppsResponse":{
      "type":"structure",
      "members":{
        "Apps":{"shape":"AppList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListDataSourcesRequest":{
      "type":"structure",
      "required":["DeviceId"],
      "members":{
        "NextToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "DeviceId":{
          "shape":"DeviceId",
          "location":"uri",
          "locationName":"DeviceId"
        }
      }
    },
    "ListDataSourcesResponse":{
      "type":"structure",
      "members":{
        "DataSourceList":{"shape":"DataSourceList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListDeploymentConfigurationsRequest":{
      "type":"structure",
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"querystring",
          "locationName":"deviceId"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "ActiveOnly":{
          "shape":"ActivelyDeployed",
          "location":"querystring",
          "locationName":"activeOnly"
        }
      }
    },
    "ListDeploymentConfigurationsResponse":{
      "type":"structure",
      "members":{
        "DeploymentConfigurations":{"shape":"DeploymentConfigurationsList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListDevicesJobsRequest":{
      "type":"structure",
      "members":{
        "DeviceId":{
          "shape":"DeviceId",
          "location":"querystring",
          "locationName":"DeviceId"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      }
    },
    "ListDevicesJobsResponse":{
      "type":"structure",
      "members":{
        "DeviceJobs":{"shape":"DeviceJobList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDevicesRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      }
    },
    "ListDevicesResponse":{
      "type":"structure",
      "required":["Devices"],
      "members":{
        "Devices":{"shape":"DeviceList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListModelsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      }
    },
    "ListModelsResponse":{
      "type":"structure",
      "required":["Models"],
      "members":{
        "Models":{"shape":"ModelInfoList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListNodeFromTemplateJobsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      }
    },
    "ListNodeFromTemplateJobsResponse":{
      "type":"structure",
      "required":["NodeFromTemplateJobs"],
      "members":{
        "NodeFromTemplateJobs":{"shape":"NodeFromTemplateJobList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListNodesRequest":{
      "type":"structure",
      "members":{
        "Category":{
          "shape":"NodeCategory",
          "location":"querystring",
          "locationName":"category"
        },
        "OwnerAccount":{
          "shape":"PackageOwnerAccount",
          "location":"querystring",
          "locationName":"ownerAccount"
        },
        "PackageName":{
          "shape":"NodePackageName",
          "location":"querystring",
          "locationName":"packageName"
        },
        "PackageVersion":{
          "shape":"NodePackageVersion",
          "location":"querystring",
          "locationName":"packageVersion"
        },
        "PatchVersion":{
          "shape":"NodePackagePatchVersion",
          "location":"querystring",
          "locationName":"patchVersion"
        },
        "NextToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxSize100",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListNodesResponse":{
      "type":"structure",
      "members":{
        "Nodes":{"shape":"NodesList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "ListPackageImportJobsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      }
    },
    "ListPackageImportJobsResponse":{
      "type":"structure",
      "required":["PackageImportJobs"],
      "members":{
        "PackageImportJobs":{"shape":"PackageImportJobList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListPackagesRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{
          "shape":"MaxSize50",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"Token",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListPackagesResponse":{
      "type":"structure",
      "members":{
        "Packages":{"shape":"PackageList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"ResourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagMap"}
      }
    },
    "LockServiceLinkedRoleRequest":{
      "type":"structure",
      "required":[
        "RoleArn",
        "Timeout"
      ],
      "members":{
        "RoleArn":{"shape":"arnType"},
        "Timeout":{"shape":"longType"}
      }
    },
    "LockServiceLinkedRoleResponse":{
      "type":"structure",
      "required":["CanBeDeleted"],
      "members":{
        "CanBeDeleted":{"shape":"booleanType"},
        "ReasonOfFailure":{"shape":"stringType"},
        "RelatedResources":{"shape":"stringListType"}
      }
    },
    "MD5":{"type":"string"},
    "MacAddress":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ManifestOverridesPayload":{
      "type":"structure",
      "members":{
        "PayloadData":{"shape":"ManifestOverridesPayloadData"}
      },
      "union":true
    },
    "ManifestOverridesPayloadData":{
      "type":"string",
      "max":51200,
      "min":0,
      "pattern":"^.*$"
    },
    "ManifestPayload":{
      "type":"structure",
      "members":{
        "PayloadData":{"shape":"ManifestPayloadData"}
      },
      "union":true
    },
    "ManifestPayloadData":{
      "type":"string",
      "max":51200,
      "min":1,
      "pattern":"^.+$"
    },
    "Manufacturer":{
[...]
